@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?o6wj5u");
  src: url("../fonts/icomoon.eot?o6wj5u#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?o6wj5u") format("truetype"), url("../fonts/icomoon.woff?o6wj5u") format("woff"), url("../fonts/icomoon.svg?o6wj5u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-location-arrow:before {
  content: "\f124";
}

.icon-compass:before {
  content: "\e949";
}

a {
  list-style: none;
  text-decoration: none;
}

.product-information {
  border: 1px solid #ccc;
  max-width: 270px;
}

.product-information__title {
  padding-left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
}

.product-information__item {
  color: #70838d;
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.product-information__info {
  max-width: 208px;
  border-top: 1px solid #ccc;
  padding: 20px 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
  flex-direction: column;
}

.product-information__info span {
  font-weight: 700;
  font-size: 14px;
  line-height: 36px;
  font-family: "Open Sans", sans-serif;
  color: #020202;
}

.footer_product_details {
  background-color: #263238;
  margin-top: 50px;
  max-height: 560px;
}

.container__footer {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}

.col-3 {
  width: 25%;
  flex-direction: column;
  padding-bottom: 135px;
}

img.line {
  padding: 25px 0 35px;
}

.container__footer-title {
  margin-top: 110px;
  color: #ffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.container__footer-item {
  color: #ffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-left: 20px;
  display: block;
}

.container__footer-item ::before {
  content: "\f105";
  position: absolute;
  font-size: 18px;
  font-family: 'icomoon';
  color: #8bc34a;
  left: 0;
}

.social__footer a {
  padding-right: 7px;
  display: inline-block;
}

.footer__sign {
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Roboto", sans-serif;
  padding: 35px 0 20px;
}

.footer-input-email input {
  width: 245px;
  font-size: 14px;
  line-height: 36px;
  color: #697378;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 15px;
  background-color: #2f3c43;
  border: none;
}

.footer-input-submit input {
  position: absolute;
  right: 30px;
  width: 43px;
  top: 0;
  height: 100%;
  border: none;
  background-color: #8bc34a;
}

.footer-input-email {
  position: relative;
}

.footer-input-email ::after {
  content: "\f124";
  position: absolute;
  font-size: 18px;
  font-family: 'icomoon';
  color: #ffff;
  right: 45px;
  top: 10px;
}
